
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <link rel="stylesheet" href="./add.css">
    
</head>
<body>
    <button class="back-home" id="back">&#8592;</button>
    <script>
        const backBtn = document.getElementById('back');
        backBtn.addEventListener('click',()=>{
            window.location.href='./TeacherPage'
        })
    </script>
    <div class="container">
    <form method="post" action="/addstudent"  >
   <h3 style="color: rgb(16, 18, 161);">ADD STUDENT</h3>
    <label for="name"><b>Student name:</b></label>
    <input type="text" placeholder=" Enter Name" style="color:black;" name="name" id="name" required>
    <br>
    <label for="roll no"><b>Roll No:</b></label>
    <input type="text" placeholder=" Enter RollNo" name="rollno" id="rollno" required>
<br>
    <label for="password"><b>Temporary Password:</b></label>
    <input type="text" placeholder=" Enter password" name="password" id="password" required>
<br>
    <label for="year"><b>Year:</b></label>
    <select class="select" name="year" required>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      
    </select>
<br>
    <label for="branch"><b>Branch:</b></label>
     <select class="select" name="branch">
      <option value="CSE">CSE</option>
      <option value="ECE">ECE</option>
      <option value="MECH">MECh</option>
      <option value="EEE">EEE</option>
    </select>
<br>
    <button type="submit" id="registerbtn">ADD STUDENT</button>
<br>
    {{#if addmsg}}
       <div id="tempMsg">Data Inserted</div>
                <script>
                    var tempMsg = document.getElementById('tempMsg');
                    setTimeout(function () {
                        tempMsg.style.display = 'none';
                    }, 1000);
                </script>
    {{/if}}
    {{#if alreadyPresent}}
        <div id="tempMsg">Data Already Present</div>
                <script>
                    var tempMsg = document.getElementById('tempMsg');
                    setTimeout(function () {
                        tempMsg.style.display = 'none';
                    }, 1000);
                </script>
    {{/if}}

</form>
</div>
</body>
</html>