<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   <form action="allotMarks-submit">
    <label for="number">RollNumber: <input class="number-field" type="text" name="roolno" id="roolno"></label>
    <p>Select Semester: </p>
    <select class="select" name="sem">
      <option value="semester">Semester 1</option>
      <option value="semester2">Semester 2</option>
      <option value="semester3">Semester 3</option>
      <option value="semester4">Semester 4</option>
      <option value="semester5">Semester 5</option>
      <option value="semester6">Semester 6</option>
      <option value="semester7">Semester 7</option>
      <option value="semester8">Semester 8</option>
    </select>
    <button class="subBtn" type="submit">Submit</button>
  </form> 

    {{#if allotmsg}}
    <p>Allot Marks:</p>
    <form action="marks-submit">
      <input type="hidden" name="sem" id="sem" value="{{semister}}">
    {{#data}}
        <input type="hidden" name="roolno" value={{RollNumber}} id="roolno" readonly>
        <label for="maths">Maths</label>
        <input type="number" name="maths" id="maths">

        <label for="physics">Physics</label>
        <input type="number" name="physics" id="physics">

        <label for="chemistry">Chemistry</label>
        <input type="number" name="chemistry" id="chemistry">

        <label for="CGPA">CGPA</label>
        <input type="number" name="CGPA" id="CGPA">

        <button type="submit">submit</button>
    {{/data}}
    </form>

    {{/if}}
    {{#if MSmsg}}
    <p>Successfully Inserted</p>
    {{/if}}

    <div class="btn">
 <button class="back-home" id="back">&#8592;</button>
  </div>
  <script>
    const back = document.getElementById('back');
    back.addEventListener("click",function(){
        window.location.href="/TeacherPage"
    })
</script>
</body>
</html>