<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>HIII</p>
    <div class="btn">
 <button class="back-home" id="back">&#8592;</button>
  </div>
  <script>
    const back = document.getElementById('back');
    back.addEventListener("click",function(){
        window.location.href="/TeacherPage"
    })
</script>
</body>
</html>