<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <link rel="stylesheet" href="delete.css">
</head>
<body>
     <button class="back-home" id="back">&#8592;</button>
     <script>
      const backBtn = document.getElementById('back');
        backBtn.addEventListener('click',()=>{
            window.location.href='./TeacherPage'
        })
     </script>
    <div class="container">
      <form action="/removestudent">
   <h3 style="color: rgb(16, 18, 161);"> DELETE STUDENT</h3>
    <hr>
 <label for="rollno"><b>Roll No</b></label>
    <input type="text" placeholder="Enter Rollno To Delete" name="rollno" id="rollno" required>

    <button type="submit" class="registerbtn">DELETE STUDENT</button>
    {{#if dmsg1}}
     <div id="tempMsg">Deleted Successfully</div>
                <script>
                    var tempMsg = document.getElementById('tempMsg');
                    setTimeout(function () {
                        tempMsg.style.display = 'none';
                    }, 1000);
                </script>
    {{/if}}
    {{#if dmsg2}}
    <h3>No such data found</h3>
    {{/if}}
    <br>
    </form>
  </div>
</body>
</html>