<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Login</title>
    <link rel="stylesheet" href="./Homepage.css">
    {{!-- <link rel="stylesheet" href="style.css"> --}}
</head>
<body>
    <h1>Student - Teacher Portal</h1>
    <div class="container">
        <div class="form-class1">
            <form method="post" action="student-submit" class="student-form">
            <h2>Student Login</h2>
                <label class="top-input" for="username">Roll Num: <input type="text" name="username" id="username" placeholder=" Enter Username"></label>
                <br>
                <label for="password">Password: <input type="password" placeholder=" Enter Password" name="password" id="password"></label>
                <br>
            {{#if msg}}
                <div id="tempMsg">Invalid Details</div>
                <script>
                    var tempMsg = document.getElementById('tempMsg');
                    setTimeout(function () {
                        tempMsg.style.display = 'none';
                    }, 1000);
                </script>
            {{/if}}
                <button class="login-btn" type="submit">Login</button>
            </form>
        </div>
        <div class="form-class2">
            <form method="post" action="teacher-submit" class="teacher-form">
                <h2>Teacher Login</h2>
                <label class="top-input" for="username">Username: <input type="text" name="username" id="username" placeholder=" Enter Username"> </label>
                <br>
                <label for="password">Password: <input type="password" placeholder=" Enter Password" name="password" id="password"></label>
                <br>
                {{#if msgg}}
                    <div id="tempMsg">
                        <p>Invalid Details</p>
                    </div>
                    <script>
                        var tempMsg = document.getElementById('tempMsg');
                        setTimeout(function () {
                            tempMsg.style.display = 'none';
                        }, 1000);
                    </script>
                {{/if}}
                <button  class="login-btn" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
