<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Login</title>
    <link rel="stylesheet" href="./Homepage.css">
    {{!-- <link rel="stylesheet" href="style.css"> --}}
</head>
<body>
    <h1>Student - Teacher Portal</h1>
    <div class="container">
        <div class="form-class1">
            <form method="post" action="student-submit" class="student-form">
            <h2>Student Login</h2>
                <label style="margin-left:16px ;" class="top-input" for="username"><b>Roll No:   </b><input type="text" name="username" id="username" placeholder=" Enter Roll Number" required></label>
                <br>
                <label for="password"><b>Password:  </b> <input type="password" placeholder=" Enter Password" name="password" id="password" required></label>
                <br>
           
                <button class="login-btn" type="submit">Login</button>
                 <button id="updatepass">Update Password</button>
                 
            <script>
                let updateBtn = document.getElementById('updatepass');
                updateBtn.addEventListener('click',()=>{
                    window.location.href = './updatePassword'
                })
            </script>
            </form>
             {{#if msg}}
                <div id="tempMsg">Invalid Details</div>
                <script>
                    var tempMsg = document.getElementById('tempMsg');
                    setTimeout(function () {
                        tempMsg.style.display = 'none';
                    }, 1000);
                </script>
            {{/if}}
            
                {{#if updatePassMsg}}
                <div id="tempMsg">Password Updated Succesfully</div>
                <script>
                    var tempMsg = document.getElementById('tempMsg');
                    setTimeout(function () {
                        tempMsg.style.display = 'none';
                    }, 1000);
                </script>
                {{/if}}
                {{#if notUpdated}}
                <div id="tempMsg">Invalid User Tried</div>
                <script>
                    var tempMsg = document.getElementById('tempMsg');
                    setTimeout(function () {
                        tempMsg.style.display = 'none';
                    }, 1000);
                </script>
                {{/if}}
        </div>
        <div class="form-class2">
            <form method="post" action="teacher-submit" class="teacher-form">
                <h2>Teacher Login</h2>
                <label class="top-input" for="username"><b>Username: </b><input type="text" name="username" id="username" placeholder=" Enter Username" required> </label>
                <br>
                <label for="password"><b>Password: </b><input type="password" placeholder=" Enter Password" name="password" id="password" required></label>
                <br>
                <button  class="login-btn" type="submit">Login</button>
            </form>
                {{#if msgg}}
                    <div id="tempMs">Invalid Details</div>
                    <script>
                        var tempMsg = document.getElementById('tempMs');
                        setTimeout(function () {
                            tempMsg.style.display = 'none';
                        }, 1000);
                    </script>
                {{/if}}
        </div>
    </div>
</body>
</html>
