<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<p>Number of Reports:{{noOfQueries}}</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">RollNumber</th>
      <th scope="col">Query Desc</th>
    </tr>
  </thead>
  <tbody>

{{#data}}
    <tr>
      <td>{{RollNumber}}</td>
      <td>{{Queries}}</td>
      <td><button id ="edit">edit</button></td>

    </tr>
    {{/data}}
  </tbody>
</table>
    <script>
        let editBtn = document.getElementById('edit');
        editBtn.addEventListener('click',()=>{
            window.location.href = "/update"
        })

    </script>
    <div class="btn">
 <button class="back-home" id="back">&#8592;</button>
  </div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script>
    const back = document.getElementById('back');
    back.addEventListener("click",function(){
        window.location.href="/TeacherPage"
    })
</script>
</body>
</html>