<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./TeacherPage.css">
</head>
<body id="body">
    <nav>
        <p>Hello User !</p>
        <h2>Teacher Edit Page...</h2>
        <button id="logOut">Log Out</button>
    </nav>
    <div class="buttons">
        <button id="added">Add Student</button>
        <button  id="searched">Search Student</button>
        <button  id="updated">Update Student</button>
        <button  id="deleted">Delete Student</button>
        <button  id="alloted">Allot Marks</button>
        <button  id="viewed">View Students</button>
        <button  id="reported">Reports</button>
    </div>

    <script>
        
        let logoutBtn =document.getElementById('logOut');
        logoutBtn.addEventListener('click',()=>{
            window.location.href = '/'
        })

        let addBtn = document.getElementById('added');
        addBtn.addEventListener('click',function(){
            window.location.href= '/add';
        })

        let searchBtn = document.getElementById('searched');
        searchBtn.addEventListener('click',()=>{
            window.location.href = '/search';
        })

        let updateBtn = document.getElementById('updated');
        updateBtn.addEventListener('click',()=>{
            window.location.href = '/update';
        })

        let deleteBtn = document.getElementById('deleted');
        deleteBtn.addEventListener('click',()=>{
            window.location.href = '/delete';
        })

        let allotMarksBtn = document.getElementById('alloted');
        allotMarksBtn.addEventListener('click',()=>{
            window.location.href = '/AllotMarks';
        })

        let viewBtn = document.getElementById('viewed');
        viewBtn.addEventListener('click',()=>{
            window.location.href = '/view';
        })

        let reportBtn = document.getElementById('reported');
        reportBtn.addEventListener('click',()=>{
            window.location.href = '/Report';
        })
    const back = document.getElementById('back');
    back.addEventListener("click",()=>{
        window.location.href="/"
    })
    </script>
    <div class="btn">
  </div>
 
</body>
</html>