<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="added"><a href="/add">Add Student</a></button>
    <button id="searched"><a href="/search">Search Student</a></button>
    <button id="updated"><a href="/update">Update Student</a></button>
    <button id="deleted"> <a href="/delete">Delete Student</a></button>
    <button id="viewed"><a href="/view">View Students`</a></button>
    <p>Number of reports:10</p>
    <label for="username">Roll Number:</label>
    <input type="text" name="username" id="username" placeholder="Enter Rollno">
    <button >results</button>
</body>
</html>