<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./updatePassword.css">
</head>
<body>
     <button class="back-home" id="back">&#8592;</button>
     <script>
      const backBtn = document.getElementById('back');
        backBtn.addEventListener('click',()=>{
            window.location.href='/'
        })
     </script>
    <div class="container">
    <form action="updatePass">
        <h3 style="color: rgb(16, 18, 161);">UPDATE PASSWORD</h3>
        <label for="rollno"><b>Enter RollNumber:</b></label>
        <input type="text" name="rollno" placeholder=" Enter Roll Number" id="rollno" required>
        
        <label for="prevPassword"><b>Previous Password:</b></label>
        <input type="text" name="prevPassword" placeholder=" Enter Previous Password" id="prevPassword" required>

        <label for="newPassword"><b>New Password:</b></label>
        <input type="text" name="newPassword" placeholder=" Enter new password" id="newPassword" required>

        <button type="submit" id="registerBtn"> Update Password</button>
    </form>
    </div>
</body>
</html>